<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
      <% urls.forEach(url=>{ %>
        <div>
            <div><%= url %></div>
            <img src=<%= "/qrcode/url?url=" + url %>>
        </div>
      <% }) %>
    </div>
  </body>
</html>
